<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11297906909-kbuh9s8p4v8e8nhrcfth4ko9is2dt0di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11297906909-kbuh9s8p4v8e8nhrcfth4ko9is2dt0di</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11297906909-gmpcjelb1p4bp0hbbb5moc0ejmfpdml8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAetXrmW34qoyWBuImXYBEpyVxI5MNaUo8</string>
	<key>GCM_SENDER_ID</key>
	<string>11297906909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.editedbyv</string>
	<key>PROJECT_ID</key>
	<string>test-e495b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-e495b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11297906909:ios:de03a1340a7f1aea41bb34</string>
</dict>
</plist>